$mainColor: #009F3C;
$findedElement: #c8decc;
$lightBlue: #CFD8E3;
$mediumBlue: #97a6ba;
$blueR: #3f83f8;
$grayBlue: #64748b;
$grayBlueLight: #f1f5f9;
$textBlackColor: #333;
$darkBlue: #27303f;
$whiteAqua: #f8fafc;
$liteAqua: #fbfdfe;
$black: #000;
$danger: #d40000;
$orange: #e3a008;
$disabledGray: #f5f5f5;
$coolGray: #e2e8f0;
$tableBg: #f9fbfd;
$blueAqua: #44cbff;
$tableHeaderFooterGray: #f7f7f7;